<div id="index" style="width:100vw;
  height:100vh;">
  <div class="jumbotron jumbotron-fluid index_jumbo" >


        <!-- <img src=url('logo.svgz') /> -->
        <img id="logo2" style="  " src='images/logo.png' />


        <p class="lead" style="font-family: 'Roboto', sans-serif; top:10px !important; z-index: -1;"><br>A Community Based Online Forum To Meet All Your Queries </p>


        <div class="wrapper">
              <img id="squiggle1"  style="  " src='images/squiggle1.png';  />
              <img id="squiggle2"style="  "  src='images/squiggle2.png';  />
        </div>

       
        <button type="button" class="btn btn-primary" id= "register"><a class="index-link" href="/signup">Register</a></button>
        <button type="button" class="btn btn-success" id= "login"><a class="index-link" href="/signin">Log In</a></button>


  </div>
</div>